<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Welcome to Morder Design
		</h1>
	</div>
	<% @posts.each do |post| %>
		<div class="col-md-4">
			<img class="img-circle img-center" src="http://lorempixel.com/140/140/" alt="???">
			<h2 class="text-center"><%= link_to post.title, post %></h2>
			<p class="text-center"><%= post.content.truncate(400) %></p>
		</div>
	<% end %>
</div>