<%= form_for @post, html: { multipart: true } do |f| %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
</p>
<p>
	<%= f.label :content %>
	<%= f.text_area :content, class: 'form-control', rows: '5' %>
</p>
<p>
	<%= f.file_field :image %>
</p>
	<%= f.submit "Save post", class: "btn btn-lg btn-primary btn-block" %>
<% end %>