<div id='post-show'>
	<h2><%= @post.title %></h2>
	<hr>
	<img class = 'img-center img-rounded img-responsive' src="http://lorempixel.com/750/400/" alt="???">
	<p><%= @post.content %></p>
	<small><%= @post.created_at.strftime('%B %d, %Y') %></small>
	<p>
		<%=link_to 'Back', root_path%> 
		<% if admin_signed_in? %>
			| <%= link_to 'Edit', edit_post_path(@post) %>
			| <%= link_to 'Destroy', post_path, method: :delete, data: {confirm: 'Are you sure?'} %>
		<% end %>
	</p>
</div>
