<hr>
<footer>
	<div class="row">
		<div class="col-lg-12">
			<p class = 'pull-right'>
				<% if admin_signed_in? %>
					Здравствуйте, <%= current_admin.email %> | <%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %> | <%= link_to 'Создать пост', new_post_path %>
				<% else %>
					<%= link_to 'Войти', new_admin_session_path %>
				<% end %>
			</p>
			<p>Copyright &copy; Your Website 2014</p>
		</div>
	</div>
</footer>