<% flash.each do %>
	<% if notice != nil %>
		<div class="alert alert-success fade in" role="alert">
			<%= notice %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% end %>
	<% if alert != nil %>
		<div class="alert alert-danger fade in" role="alert">
			<%= alert %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  			<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% end %>
<% end %>