<!DOCTYPE html>
<html>
	<%= render 'layouts/head' %>
	<body>
		<%= render 'layouts/top' %>
		<%= render 'layouts/message' %>
		<div class="container">
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
