<!DOCTYPE html>
<html>
	<%= render 'layouts/head' %>
	<body>
		<%= render 'layouts/top' %>
		<%= render 'layouts/message' %>
		<%= render 'layouts/slider' %>
		<div class="container">
			<%= yield %>
		</div>


		<a id="firmsonmap_biglink" href="http://2gis.ru/tyumen/profiles/1830115630099768,1830115630181359,1830115630181358,1830115630181357,1830115630181360/center/65.5902671813965,57.120959419875106/zoom/13">Перейти к большой карте</a><script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"height":400,"pos":{"lat":57.120959419875106,"lon":65.5902671813965,"zoom":12},"opt":{"city":"tyumen"},"org":[{"id":"1830115630099768"},{"id":"1830115630181359"},{"id":"1830115630181358"},{"id":"1830115630181357"},{"id":"1830115630181360"}]});</script>
		<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>


		<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=qAxyqfEAMBuFc4c6-x1imShREWqbUgRm&height=400"></script>


		<div class="container">
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>